<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RESTOCKED!</title>
</head>
<body>
  <table>
      <thead>
      <tr>
          <th> Id </th>
          <th> Name </th>
          <th> Price </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="menu : ${menus}">
          <td><span th:text="${menu.id}"></span></td>
          <td><span th:text="${menu.name}"></span></td>
          <td><span th:text="${menu.price}"></span></td>
      </tr>
      </tbody>
  </table>
</body>
</html>